.head1{
    width:100%;
    height:670px;
    background:url("https://media.istockphoto.com/id/1399122848/photo/black-friday-sale-design-of-shopping-cart-and-gift-box-with-confetti-on-black-background-3d.jpg?b=1&s=170667a&w=0&k=20&c=GotNWdydzoAXf1tlV1FJ9OgMFrFz_mR6tSbidOeodo4=");
    background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content:center;
   align-items: center;
   
}
.det{
    color:white;
   
}

.buy{
   
    width:120px;
    height:40px;
   
}
.buy:hover{
    color: rgb(92, 89, 89);
}
.foot{
    width:100%;
    height:50px;
    background-color: rgb(24, 30, 41);
    display:flex;
    justify-content: center;
    color:aliceblue;
    align-items:center;
}



